1. The MickeyMouse problem

a) Write a program that prints the numbers from 1 to 100. But for multiples of 3 print `Mickey` instead of the corresponding number and for the multiples of 5 print `Mouse`. For numbers which are multiples of both three and five print `MickeyMouse`

b) Put the result in a tuple and substitute `Mickey` with `Donald` and `Mouse` with `Duck`

In [55]:
l = list(range(1, 101))
for i in l:
    if i % 3 == 0:
        l[i-1] = "Mickey%s" % ("Mouse" if i % 5 == 0 else "")
    elif i % 5 == 0:
        l[i-1] = "Mouse"
print(*l, sep=' ')

for i in range(len(l)):
    if l[i] == "Mickey":
        l[i] = "Donald"
    elif l[i] == "MickeyMouse":
        l[i] = "DonaldDuck"
    elif l[i] == "Mouse":
        l[i] = "Duck"
t = tuple(l)
print('\n', t[:30])

1 2 Mickey 4 Mouse Mickey 7 8 Mickey Mouse 11 Mickey 13 14 MickeyMouse 16 17 Mickey 19 Mouse Mickey 22 23 Mickey Mouse 26 Mickey 28 29 MickeyMouse 31 32 Mickey 34 Mouse Mickey 37 38 Mickey Mouse 41 Mickey 43 44 MickeyMouse 46 47 Mickey 49 Mouse Mickey 52 53 Mickey Mouse 56 Mickey 58 59 MickeyMouse 61 62 Mickey 64 Mouse Mickey 67 68 Mickey Mouse 71 Mickey 73 74 MickeyMouse 76 77 Mickey 79 Mouse Mickey 82 83 Mickey Mouse 86 Mickey 88 89 MickeyMouse 91 92 Mickey 94 Mouse Mickey 97 98 Mickey Mouse

 (1, 2, 'Donald', 4, 'Duck', 'Donald', 7, 8, 'Donald', 'Duck', 11, 'Donald', 13, 14, 'DonaldDuck', 16, 17, 'Donald', 19, 'Duck', 'Donald', 22, 23, 'Donald', 'Duck', 26, 'Donald', 28, 29, 'DonaldDuck')

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [58]:
def swap(x, y):
    return y, x

a, b = 3, 5
a, b = swap(a, b)
print(a, b)

5 3

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [71]:
import math

def dist(u, v=(0, 0)):
    return math.sqrt((u[0] - v[0])**2 + (u[1] - v[1])**2)

u = (3, 0)
v = (0, 4)
dist(u, v)

5.0

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differences in capitalization.

In [90]:
s = "Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and \
for the multiples of five print Mouse. For numbers which are \
multiples of both three and five print MickeyMouse."

# create a dictionary
freq = {}

# ignore case
for c in s.casefold():
    # get, as a dictionary method, returns the value corresponding
    # to the given key, or else a default value (in this case 0)
    freq[c] = freq.get(c, 0) + 1

# print characters from most to least frequent
for i in sorted(freq, key=freq.get, reverse=True):
    print("%c %3d" % (i, freq[i]))

   41
e  22
t  19
r  17
i  14
o  13
m  12
n  10
f  10
h   9
s   9
u   9
p   8
a   7
l   6
b   5
.   3
c   3
d   3
w   2
1   2
0   2
k   2
y   2
v   2
g   1

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list *l*

In [104]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53]

# by converting to set you get all the different values
for unique in set(l):
    if l.count(unique) == 1:
        print(unique, end=' ')

1 5 8 9 10 16 18 19 20 24 30 31 33 39 47 51 53 54 55 57 58 63 64 72 74 75 79 81 82 86 87 88 89 90 94 95 96 98 99

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one